*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url("../images/banner/banner2.png");
    background-position: center;
    width: 1600px;
    height: 809px;
}

/* Banner Area */
.banner{
    float: right;
    margin-top: 204px ;
    text-align: right;
    margin-right: 400px;
    width: 550px;


}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}
.banner-desc{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 10px;

}
.primary-btn{
    background-color: #F15B22;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 26px;
    border-radius: 5px;
}
/* failure area */
.failure{
    display: flex;
    align-items: center;
    width: 1072px;
    margin: 0 auto;
}
.failure-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 10px;

}

.failure-desc{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 10px;

}

/* my-plans  */
.my-plan{
    width: 1141px;
    margin:100px;
    
}
.plans{
    display: flex;
    justify-content: space-around;
    
}
.plan-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
/* positive mindset */
.positive-mindset{
    background-image: url("../images/watch.png");
    width: 1140px;
    height: 300px;
    margin: 100px;
    padding: 40px;
    background-repeat: no-repeat;
}
.positive-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.future{
    background: #151414;
    margin-top: 130px;
    width: 1600px;
    height: 577px;
    display: flex;
    padding: 100px;
    gap: 250px;
}
.future-plan{
    width: 485px;
}
.subscribe{
    width: 325px;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.future-desc{
    ont-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.email{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.phone{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.subscribe input{
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 2px;
    background: transparent;
    width: 100%;
    margin-bottom: 10px;
}
.subscribe input[type="submit"]{
    background: white;
    color: #F15B22;
    padding: 10px;
    width: 25%;
    
}